.tableHeader{
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    margin-inline: auto;
    width: 80%;
    align-items: center;
    justify-content: left;
}

.tituloTable{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding-right: 0.5rem;
    border-right: solid 2px rgba(156, 156, 156, 0.459);
}

.campoPesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin-inline: auto;
}

.campoPesquisa input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0);
}

.campoPesquisa i{
    font-size: 20px;
    cursor: pointer;
}

.cadastrarBtn{
    padding: 8px;
    border-radius: 10px;
    background-color: #105352;
    color: #fff;
    font-size: small;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

table {
    margin-inline: auto;
    width: 80%;
    border-collapse: collapse;
    border-radius: 25px;
    margin-bottom: 2rem;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #9c9c9c;
}

th {
    color: #dedede;
    background-color: #105352;
}

td{
    font-size: small;
}

td button{
    font-size: large;
    color: rgb(95, 95, 95);
    border: none;
    background-color: rgba(255, 235, 205, 0);
    margin-inline: 8px;
    cursor: pointer;
    transition: all 0.5s;
}

td button:hover{
    color: #37adab;
}

.paginacao{
    display: flex;
    align-items: center;
    margin-inline: auto;
    gap: 1rem;
}

.chevron{
    background-color: #00000000;
    border: none;
    cursor: pointer;
}

.paginacaoItem{
    display: flex;
    color: #000000;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: none;
    box-shadow: 3px 3px 9px 1px rgba(0, 0, 0, 0.29);
    cursor: pointer;
}

.paginacaoItem.active{
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: #105352;
    cursor: pointer;
}

.moreInfor{
    display: flex;
    width: 80%;
    gap: 0.5rem;
    flex-direction: column;
    margin-inline: auto;
}

.inforRent{
    display: flex;
    align-items: center;
    gap: 5px;
}

.inforRent span{
    font-weight: bold;
}