.grafics{
    display: flex;
    justify-content: space-evenly;
}

.title{
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.chart1, .chart2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    box-shadow: 3px 3px 13px 0px rgba(89, 89, 89, 0.44);
    margin-bottom: 1rem;
    max-height: 40vh;
}

.chart1, .chart2{
    width: 40%;
}

#relacoesLivrosChart, #LivrosChart{
    height: 8px;
}

.tableTitle{
    font-weight: bold;
    margin-inline: auto;
    margin-bottom: 0.5rem;
}

table {
    margin-inline: auto;
    width: 80%;
    border-collapse: collapse;
    border-radius: 25px;
    margin-bottom: 1rem;
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #9c9c9c;
}
th {
    color: #dedede;
    background-color: #105352;
}

td{
    font-size: small;
}

td button{
    color: rgb(95, 95, 95);
    font-size: large;
    border: none;
    background-color: rgba(255, 235, 205, 0);
    margin-inline: 8px;
    cursor: pointer;
    transition: all 0.5s;
}

td button:hover{
    color: #37adab;
}

.paginacao{
    display: flex;
    align-items: center;
    margin-inline: auto;
    gap: 1rem;
}

.chevron{
    background-color: #00000000;
    border: none;
    cursor: pointer;
}

.paginacaoItem{
    display: flex;
    color: #000000;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: none;
    box-shadow: 3px 3px 9px 1px rgba(0, 0, 0, 0.29);
    cursor: pointer;
}

.paginacaoItem.active{
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: #105352;
    cursor: pointer;
}

@media (max-width: 900px){
    .grafics{
        flex-direction: column;
    }

    .chart1, .chart2{
        margin-inline: auto;
    }
}